
*.vsidx
Gruppe.net-HarbourFrameworks-WPF/obj/project.nuget.cache
Gruppe.net-HarbourFrameworks-WPF/obj/project.assets.json
Gruppe.net-HarbourFrameworks-WPF/obj/Gruppe.net-HarbourFrameworks-WPF.csproj.nuget.dgspec.json
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Views/SpaceView.g.i.cs
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/refint/Gruppe.net-HarbourFrameworks-WPF.dll
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/ref/Gruppe.net-HarbourFrameworks-WPF.dll
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF_MarkupCompile.i.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF_MarkupCompile.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.sourcelink.json
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.pdb
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.genruntimeconfig.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.GeneratedMSBuildEditorConfig.editorconfig
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.dll
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.csproj.FileListAbsolute.txt
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.csproj.CoreCompileInputs.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.assets.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.AssemblyInfoInputs.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.AssemblyInfo.cs
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/apphost.exe
Gruppe.net-HarbourFrameworks-WPF/bin/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.pdb
Gruppe.net-HarbourFrameworks-WPF/bin/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.exe
Gruppe.net-HarbourFrameworks-WPF/bin/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.dll
Gruppe.net-HarbourFrameworks-WPF/.vs/Gruppe.net-HarbourFrameworks-WPF/v17/.suo
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Views/SpaceView.g.i.cs
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF_MarkupCompile.i.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.GeneratedMSBuildEditorConfig.editorconfig
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.assets.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.AssemblyInfoInputs.cache
Gruppe.net-HarbourFrameworks-WPF/obj/Debug/net8.0-windows/Gruppe.net-HarbourFrameworks-WPF.AssemblyInfo.cs
